@use '@/styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4rpx 16rpx;
  border-radius: $radius-sm;
  font-size: $font-size-sm;
  line-height: 1.4;
  white-space: nowrap;
}

.tagSm {
  padding: 2rpx 12rpx;
  font-size: $font-size-xs;
}
